<%= form_for(test) do |f| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.select :category_id, Category.all.collect {|p| [ p.name, p.id ] } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
        
        <div class="dropdown">
        <ul>
        <% Category.all.each do |category| %>
              <li class="<%= 'active' if params[:category] == category.name %>">
                <%= link_to category.name, "#", class: "link" %>
              </li>
              <%end%>
              </ul>
             </div>